.DetailsBox{
    width: 1522px;
    height: 9000px;
    margin-left: 199px;
    background-color: cyan;
}
.DetailsBox_718{
    width: 1522px;
    height: 6800px;
    margin-left: 199px;
    background-color: cyan;
}
.DetailsBox_911{
    width: 1522px;
    height: 7700px;
    margin-left: 199px;
    background-color: cyan;
}
.DetailsBox_Taycan{
    width: 1522px;
    height: 7800px;
    margin-left: 199px;
    background-color: cyan;
}
.DetailsBox_Panamera{
    width: 1522px;
    height: 6800px;
    margin-left: 199px;
    background-color: cyan;
}
.DetailsBox_Macan{
    width: 1522px;
    height: 8600px;
    margin-left: 199px;
    background-color: cyan;
}
.DetailsBox_Cayenne{
    width: 1522px;
    height: 8700px;
    margin-left: 199px;
    background-color: cyan;
}

.DetailsImg{
    width: 1522px;
    height: auto;
    margin-left: 0px;
}