.loginBox{
    width: 1522px;
    height: 1000px;
    margin-left: 199px;
    background-color: cornsilk;
}
.loginBoxFrom{

}
.loginBoxFromInput{

}
.loginBoxFromButton{

}


.registerBox{
    width: 1522px;
    height: 1000px;
    margin-left: 199px;
    background-color: cornsilk;
}
.registerFrom{

}
.registerFromLabel{

}
.registerFromInput{

}
.registerFromButton{

}